* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh; /* Full height of the viewport */
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-family: Arial, sans-serif; /* Font styling */
background-color: blueviolet;
}
